<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control"name="sita" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">blog</label>
      
      <textarea name="rita" class="form-control"  cols="40" rows="5"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>